<!doctype html >
<html xmlns:ng="http://angularjs.org" lang="en" ng-app="pokerApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Scrum Planning Poker for JIRA Projects</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/app.css">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <%- CDN(['/lib/modernizr.custom.07116.js', '/js/testing.js']) %>
</head>
<body>
<div class="body bg{{bodyState}}" ng-controller="MainCtrl">
    <div class="container">
        <header class="header">
            <a href="/" title="Back to the Lobby">
                <span class="header__text"></span>
                <span class="header__logo{{logoState}}"></span>
            </a>
        </header>
        <div class="alert">
            <div class="activity" ng-show="activity">Activity&hellip;</div>
            <div class="socketMessage" class="notification" ui-show="socketMessage" ng-bind="socketMessage"></div>
            <div class="appError" class="notification" ui-show="errorMessage" ng-bind="errorMessage"></div>
            <div class="message" class="notification" ui-show="message" ng-bind="message"></div>
        </div>
        <div class="content" ng-view></div>
        <footer class="footer">
            <p><strong>&copy; EC|Wise 2015</strong></p>
        </footer>
    </div>
</div>

<script src="/lib/socket-0.9.11.io.min.js"></script>
<script>
    var zepto_src = "/lib/zepto.min.js",
            jquery_src = "/lib/jquery-1.8.2.min.js";
    document.write('<script src=' + ('__proto__' in {} ? zepto_src : jquery_src) + '><\/script>');
</script>
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular/angular-cookies.min.js"></script>
<%- CDN(['/lib/underscore.min.js', '/lib/jquery.cookie.js']) %>
<%- CDN(['/js/app.js', '/js/controllers.js', '/js/directives.js', '/js/filters.js', '/js/services.js', '/js/dom.js']) %>
</body>
</html>
